
.comment-container{
  padding:5px;
  border-bottom:1px solid rgba(128, 128, 128, 0.18);
  display: flex;
  line-height:24px;
  overflow-x: hidden;
}


.comment-container img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.col-1{
  flex-grow:0;
}
.col-2{
  flex-grow: 5;
  display: flex;
  flex-direction:column;

}
.commentHeader{
  display: flex;
  justify-content: space-between;
  width:100%;
}
.who
{
  font-size: 14px;
  color: #002C71 ;
  margin-left:10px;
  margin-top:10px;

}

.commentAdder{
  display: inline-block;
  cursor: pointer;
  font-size: 22px;
  color:#8298B9;
  margin:10px 0 5px 25px;
}
textarea{
  border:none;
  width:90%;
  margin:0 auto;
}
textarea:focus{
  border:none;
  outline: none;
}
.addButton{
  display: block;
  margin:0 auto;
  padding:10px;
  outline:none;

  border:none;
}
