

<div *ngFor="let comment of comments">
  <div class="comment-container #commentBox">
    <div class="col-1"> <img [src]="comment.author.image"></div>
    <div class="col-2">
      <div class="commentHeader"> <div class="who">{{comment.author.name}}</div><div class="commentTime"> {{  comment.test }}</div></div>
  <div class="commentContent"> {{comment.content}}</div>
  </div>
  </div>
<div class="addComment">

</div>
</div>
<textarea class="commentAdder" [(ngModel)]="defaultComment" (click)="clearDefault()" (keydown)="onEnterPressed($event)"></textarea>
<button *ngIf="defaultComment != 'Add a comment'"   class="addButton" (click)="onAddComment(defaultComment)">Add comment</button>

